<ng-sidebar-container style=" height: 100vh">

    <ng-sidebar
            (onClosed)="onClosedMenu()"
            [animate]="true"
            [autoFocus]="false"
            [closeOnClickBackdrop]="true"
            [closeOnClickOutside]="false"
            [mode]="menuMode"
            [opened]="menuOpened"
            [position]="menuPosition"
            [showBackdrop]="showBackdrop"


    >
        <div class="sidebar"
             data-color="purple"
             data-intro="Фильтрация задач, добавление/удаление/редактирование категорий"
             data-position='right'
             data-step="1"
        >

            <app-categories
                    (addCategory)="addCategory($event)"
                    (deleteCategory)="deleteCategory($event)"
                    (searchCategory)="searchCategory($event)"
                    (selectCategory)="selectCategory($event)"
                    (updateCategory)="updateCategory($event)"


                    [categories]="categories"
                    [selectedCategory]="selectedCategory"
                    [uncompletedCountForCategoryAll]="uncompletedCountForCategoryAll"
                    [categorySearchValues]="categorySearchValues"

            ></app-categories>

        </div>

    </ng-sidebar>


    <div ng-sidebar-content>


        <div class="main-panel">

            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">

                                <app-header

                                        [categoryName]="selectedCategory ? selectedCategory.title: 'Все'"

                                        (toggleMenu)="toggleMenu()"
                                        (settingsChanged)="settingsChanged($event)"


                                ></app-header>


            </nav>

            <div class="content">
                <div class="container-fluid">

                    <div data-intro="Список всех задач"
                         data-position='top'
                         data-step="2">

                    </div>

                    <div class="row">

                        <div class="col-12">

                            <app-tasks

                                    [showSearch]="showSearch"
                                    [totalTasksFounded]="totalTasksFounded"
                                    [tasks]="tasks"
                                    [priorities]="priorities"
                                    [categories]="categories"
                                    [selectedCategory]="selectedCategory"
                                    [taskSearchValues]="taskSearchValues"


                                    (searchAction)="searchTasks($event)"
                                    (selectCategory)="selectCategory($event)"
                                    (addTask)="addTask($event)"
                                    (deleteTask)="deleteTask($event)"
                                    (updateTask)="updateTask($event)"
                                    (paging)="paging($event)"
                                    (toggleSearch)="toggleSearch($event)"


                            ></app-tasks>


                        </div>
                    </div>
                </div>
            </div>


            <app-footer *ngIf="!isMobile"></app-footer>


        </div>

    </div>


</ng-sidebar-container>
